  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a class="game-icon" href="/mediaTypes?type=Game"><i class="fa-solid fa-gamepad fa-spin fa-2xl" style="color: #323639"></i></a>
      <a class="movie-icon" href="/mediaTypes?type=Movie"><i class="fa-solid fa-film fa-spin fa-2xl" style="color: #323639;"></i></a>
      <a class="book-icon" href="/mediaTypes?type=Book"><i class="fa-solid fa-book fa-spin fa-2xl" style="color: #323639;"></i></a>
      <a class="profile-icon" href="/"><i class="fa-solid fa-user fa-spin fa-2xl" style="color: #323639;"></i></a>
    <% } else { %>
     
    <% } %>
  </nav>
