  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/mediaTypes?type=Game">🕹️</a>
      <a href="/mediaTypes?type=Movie">🎥</a>
      <a href="/mediaTypes?type=Book">📜</a>
      <a href="/">🦄</a>
    <% } else { %>
     
    <% } %>
  </nav>
